@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-Light";
  src: url("/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Semibold";
  src: url("/fonts/poppins/Poppins-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-poppins-light {
  font-family: "Poppins-Light", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-poppins-semibold {
  font-family: "Poppins-Semibold", sans-serif;
}
.heading {
  @apply text-3xl leading-[35px] md:text-5xl md:leading-[60px] lg:text-7xl lg:leading-[75px] xl:text-[90px] xl:leading-[105px] font-semibold font-poppins-semibold;
}
.sub-heading {
  @apply font-semibold text-4xl lg:text-[64px];
}
.process-container div {
  @apply bg-black text-white text-center py-3 md:py-6 lg:py-10;
}
.footer-lists li, .footer-lists img {
  @apply  hover:scale-110;
}
body {
  @apply bg-background min-h-screen font-poppins;
}
